.installContainer {
    text-align: center;
    font-size: 0.875rem;
}

.installContainer button {
    background: transparent;
    border: 0;
    color: var(--text);
    font-size: 0.875rem;
    transition: color 0.2s;
}

.installContainer button:hover {
    color: var(--title);
    text-decoration: underline;
}

.installContainer p {
    margin-top: 0.5rem;
    line-height: 1.5;
}

@media (max-height: 560px) {
    .installContainer,
    .installContainer button {
        font-size: 0.8125rem;
    }

    .installContainer p {
        margin-top: 0.25rem;
    }
}
